
.one{
    background-color: aliceblue;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    padding: 10px;
    text-align: center;
   
    border-radius: 8px;

    
    

}
input{
    height: 40px;
    width: 80%;
    margin: 10px;
    padding-left: 10px;
      

}
h2{
   background-color: rgb(28, 230, 169);
   color: aliceblue;
   padding: 10px;
   margin-left: 9%;
   margin-right: 9%;
border-radius: 15px;

}
h2:hover{
    background-color: rgb(51, 98, 3);
    color: aliceblue;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: green
}